body {
    font-family: didot;
}

h1{
    
    text-align: center;
    color: darkolivegreen;

}
h3{
    text-align: center;
    color: olive;
    font-style: italic;
}

#headshot{
    display: block;margin: 0 auto;
    border: 3px solid darkolivegreen;
}